[submodule "frontend"]
	path = frontend
	url = https://github.com/ORBIS-2DSM-API/frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/ORBIS-2DSM-API/backend.git
	branch = main
